<div class="content-wrapper buffer-both text-center">
  <div class="buffer-both">
    <h1 class="title-medium">Вопросы по хэштегу: <%= @hashtag.name %></h1>
  </div>

  <div class="buffer-both">
    <% questions_with_similar_hashtags = [] %>

      <% @all_questions.each do |question| %>
        <% questions_with_similar_hashtags << question if question.text.capitalize.include?(@hashtag.name) %>
        <% questions_with_similar_hashtags << question if question.answer.present? && question.answer.include?(@hashtag.name) %>
    <% end %>
  </div>
</div>

<%= render partial: 'questions/question', collection: questions_with_similar_hashtags %>